@media screen and (max-width: 1000px) {

  #create-bookmark-container {
    width: 285px;
    min-width: 285px;
    display: block;
  } 

  #create-bookmark {
    width: 100%;
    height: auto;
  }

  .bookmark-card {
    max-width: 100%;
    min-width: 0px;
  }

  #bookmark-list {
    min-width: 285px;
    padding: 20px 10px 0px 10px;
  }

  header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  h1 {
    font-size: 34px;
    line-height: 34px;
  }

  span {
    display: inline-block;
    padding-bottom: 10px;
  }

  header img {
    height: 28px; 
  }

  form input {
    margin-bottom: 20px;
  }

  #bookmark-counters span, #bookmark-counters p {
    width: 94px;
  }

}

  @media screen and (min-width: 1320px) {
    
  #bookmark-list {
    padding: 20px 0px 20px 20px;
  }
  .bookmark-card {
    width: 42%;
    margin-right: 20px;
    float: left;
  }
}

  @media screen and (min-width: 1320px) and (max-width: 1345px) {

  .bookmark-card {
    width: auto;
    float: none;
  }
}

  @media screen and (min-width: 1000px) and (max-width: 1320px) {
    
.bookmark-card {
    width: auto;
    float: none;
    display: block;
    margin-right: 0px;
    width: auto;
    min-width: auto;
    margin-bottom: 20px;
}

}
