* {
  margin: 0px;
  font-family: "Open Sans"; sans-serif;
}

html, body {
  height: 100%;
}

#create-bookmark {
  background: #455a64;
  color: #ffffff;
  width: 480px;
  height: 100%;
  display: block;
  float: left;
}

#create-bookmark-container {
  width: 400px;
  margin: 0 auto;
}

form input {
  width: 100%;
  height: 40px;
  font-size: 25px;
  margin-bottom: 50px;
  text-indent: 10px;
  outline: 1px solid #ccc;
  outline-offset: -1px;
  border: 0px;
  padding: 0px;
}

::placeholder {
  color: #ccc;
}

header {
  margin-top: 210px;
  margin-bottom: 50px;
}

header img {
  height: 49px;
}

span {
  padding-top: 4px;
  vertical-align: middle;
}

h1 {
  font-size: 52px;
  font-weight: 800;
}

button:focus {
  outline: none;
}

#create-bookmark-button {
  background: #ffc107;
  color: #ffffff;
  font-weight: 800;
  border: none;
  width: 100%;
  height: 37px;
  font-size: 18px;
  font-weight: 800;
}

#create-bookmark-button:disabled {
  background: #cccccc;
}

#create-bookmark-button:hover {
  background: #ffd773;
  cursor: pointer;
}

#bookmark-counters p {
  width: 132px;
  float: left;
  font-size: 14px;
  font-weight: 400;
  border-right: 1px solid #34434c;
}

#bookmark-counters .last {
  border-right: 0px;
}

#bookmark-counters span {
  color: #cfd8dc;
  width: 133px;
  font-size: 35px;
  font-style: normal;
  float: left;
  font-weight: 400;
}

#bookmark-counters {
  text-align: center;
  display: block;
  margin-top: 20px;
  height: 85px;
  margin-bottom: 20px;
}

#clear-read-bookmarks-button {
  display: none;
  width: 133px;
  height: 29px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #34434c;
  color: #fff;
  border: none;
  box-shadow: 0 0 3px #777;
}

#clear-read-bookmarks-button:hover {
  cursor: pointer;
}

#clear-read-bookmarks-button.show {
  display: block;
}

#bookmark-list {  
  background: #cfd8dc;
  min-width: 480px;
  height: 100%;
  width: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  display: block;
  margin-right: 0px;
  padding: 20px 20px 0px 20px;
}

.bookmark-card {
    border: 1px solid #607d8b;
    background: #ffffff;
    margin-bottom: 20px;
    padding: 15px;
    min-width: 370px;
    width: auto;
    float: none;
}

h2 {
  color: #455a64;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}

hr {
  border-top: 1px solid #cfd8dc;
}

a {
  color: #607d8b;
  text-decoration: underline #f2f4f4;
  text-underline-position: under;
  font-size: 20px;
  display: block;
  padding-top: 18px;
  padding-bottom: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a:hover {
  cursor: pointer;
  text-decoration-color: #ffc107;
  color: #455a64;
  font-weight: bold;
}

#bookmark-list button {
  border: none;
  color: #607d8b;
  font-size: 17px;
  margin-top: 10px;
  text-decoration: underline #f2f4f4;
  text-underline-position: under;
  background: none;
}

#bookmark-list button:hover {
  cursor: pointer;
  text-decoration-color: #ffc107;
  color: #455a64;
  font-weight: bold;

}

#bookmark-list .read .read-button {
  color: #f50a28;
  font-weight: bold;
}

#bookmark-list .read button {
  background: none;
}

.bookmark-card.read  {
  background: #f2f4f4;
}

.bookmark-card.read a {
  text-decoration: underline #cfd8dc;
}

.delete-button {
  float: right;
}

